* {
	padding: 0 auto;
  margin: 0 auto;
}

body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; 
    height: 100%;
}

.logo{
    float: left;
    width: 30%; 
}

header {
	background-image: url(img/header.png);
	text-align: center;
}

nav {
	position: center;
    background-color: #616161;	
}

#page1 {
    position: center;
}

.welcome {
    text-align: center;
}
#pagina2 {
    background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */

}

#group{
    margin-top: 5%;
    width: 100%;
    margin-bottom: 0;
}

.card {
    width: 270px;
    height: 390px;
    background-color: #f2f1f2;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
} 

.datos2 {
    font-size: small;
}

footer{
	background-color: #616161;
	color: #343434;
	margin: 20px;
	padding: 10px;
} 
